body {
  font-family: "SF Pro Display", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: inherit;
}

.review-section {
  width: 100%;
  max-width: 1192px;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: space-around;
  line-height: 32px;
  color: #1f392c;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* Add padding for spacing */
}

.title-section {
  width: 100%;
  max-width: 1192px;
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-left: 3rem;
  line-height: 1;
}

.frame-31 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  color: #1f392c;
  display: flex;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
  width: 100%; /* Take full width on smaller screens */
}

.frame-32 {
  margin-top: -9.3rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  color: #1f392c;
  display: flex;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
  width: 100%; /* Take full width on smaller screens */
}

.vector1 {
  width: 564.34px;
  height: 70.5px;
  background-image: url(./assets/Vector1svg.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: -8.7rem;
  margin-left: 15.5rem;
  line-height: 70.5px; /* Center text vertically */
}

.now-we-can {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 3rem;
  color: #1f392c;
  display: flex;
  margin-top: -1.5rem;
}

.vector2 {
  width: 170.71px;
  height: 12.21px;
  margin-top: -5rem;
  background-image: url(./assets/Vector2svg.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  margin-left: 15rem;
  line-height: 70.5px; /* Center text vertically */
}

.subtitle-icon-button {
  margin-top: 2rem;
  width: 1272px;
  height: 76px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.para {
  /* Add padding for spacing */
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f392c;
  text-align: left;
  flex-wrap: nowrap;
}

.button-div {
  width: 96px;
  height: 40px;
  gap: 16px;
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.left-arrow {
  border-color: #15f4ee;
  border-radius: 54%;
}
.left-arrow:hover {
  background-color: #00ffff;
}

.right-arrow {
  border-color: #15f4ee;
  border-radius: 50%;
}

.right-arrow:hover {
  background-color: #00ffff;
}

.cards-sec {
  margin-top: 3rem;
  height: 352px;
  gap: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3rem;
}

.cards {
  height: 352px;
  gap: 32px;
}

.review-card1 {
  height: 352px;
  padding: 24px, 56px, 24px, 56px;
  border-radius: 16px;
  gap: 16px;
  background-color: #b2ffff;
  display: flex;
  flex-direction: column;
}
.review-card2 {
  height: 352px;
  padding: 24px, 56px, 24px, 56px;
  border-radius: 16px;
  gap: 16px;
  background-color: #00ffff;
  display: flex;
  flex-direction: column;
}

.avatar1 {
  margin-left: 4rem;
  margin-top: 2rem;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.john-li {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #1f392c;
  margin-left: 4rem;
  margin-top: -2.5rem;
}

.content {
  width: 396px;
  height: 150px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 4rem;
  margin-top: -4rem;
  margin-right: 4rem;
  color: #1f392c;
}
